/* Maquetando pagina alumnos */


.navbar{
	margin-top: -50px;
	margin-bottom: -30px;
}

.navbar-collapse{
	padding-left: 180px;
}

#datos{
	margin-bottom: -30px;
}

#navi{
	margin-bottom: -20px;
	margin-top: -10px;
}

.section{
	border:1px solid black;
	margin-bottom: 10px;
}

#horario{
	position: relative;
	top: 20px;
}