/*Seccion central*/
section {
	border-radius: 10px 10px 10px 10px;
	border:solid 1px black;
	width: 550px;
}

section table {
	margin: auto;
}

section form table tr th{
	font-family: arial;
	color: maroon;
	font-size: 15px;
}

section form table tr td{
	font-family: arial;
	color: maroon;
	font-size: 11px;
}

input[type=text]{
	
}
