/*maquetando estilo principal*/

body{
	background: #DCDDDF url(http://cssdeck.com/uploads/media/items/7/7AF2Qzt.png);
}
div#todo{
	margin:0 auto;
	width:959px;
}
/*header*/
header{
	height:150px;
	width:957px;
	overflow: hidden;
}
/*lado izquierdo*/
aside#izquierda{
	float:left;
}
/*Centro*/
section{
	float:left;
}